<!DOCTYPE html>

<script type="text/javascript" src="../web-component-element.js"></script>
<link rel="import" href="html-led-element.html">

<template>
  <span id="wrapper">
    <span id="name"></span>
    <span id="value"></span>
  </span>
</template>

<script type="text/javascript">
(function() {
  'use strict'

  const WebComponentElement = window.WebComponentElement
  const document = window.document
  const tangojs = window.tangojs

  const template = WebComponentElement
    .getCurrentDocument(window)
    .querySelector('template')

  class TangoJsStateLedElement extends window.HTMLElement {

    createdCallback () {

      const clone = document.importNode(template.content, true)
      this.root = this.createShadowRoot()
      this.root.appendChild(clone)

      this.led = document.createElement('x-led')
      this.led.setAttribute('color', '#FF0000')
      this.led.setAttribute('on', '')

      this.dom = {
        wrapper: this.root.getElementById('wrapper'),
        name: this.root.getElementById('name'),
        value: this.root.getElementById('value')
      }
    }

    onModelChange(value) {
      this.createDeviceProxy(value)
      this.restartPollingTimer()
    }

    /** @private */
    createDeviceProxy (model) {
      this._proxy = new tangojs.proxy.DeviceProxy(model)
      this._proxy.get_info().then(deviceInfo => {
        this.dom.name.textContent = this.showName ? deviceInfo.name : ''
      })
    }

    /** @private */
    restartPollingTimer () {

      if (this._timer) {
        clearInterval(this._timer)
      }

      this._timer = setInterval(() => {
        this._proxy.state()
          .then(devState => {
            const [color, on] = this.getLedSetup(devState)
            this.led.color = color
            this.led.on = on
            this.dom.value.textContent = devState.key
          })
          .catch(e => console.error(e))
      }, this.pollPeriod)
    }

    /** @private */
    getLedSetup (devState) {
      switch (devState) {
        case tangojs.tango.DevState.ON: return ['#80FF00', true]
        case tangojs.tango.DevState.OFF: return ['#80FF00', false]
        case tangojs.tango.DevState.RUNNING: return ['#0080FF', true]
        case tangojs.tango.DevState.FAULT: return ['#FF0000', true]
        case tangojs.tango.DevState.ALARM: return ['#FF8000', true]
        default: return ['#FF00FF', true]
      }
    }

    toggleLed (ledOn) {
      const ledNode = this.root.querySelector('x-led')
      if (ledOn && ! ledNode) {
        this.dom.wrapper.appendChild(this.led)
      } else if (! ledOn && ledNode) {
        this.dom.wrapper.removeChild(this.led)
      }
    }
  }

  WebComponentElement.wireAttribute({
    prototype: TangoJsStateLedElement.prototype,
    property: 'model',
    type: 'string',
    onChange: TangoJsStateLedElement.prototype.onModelChange })

  WebComponentElement.wireAttribute({
    prototype: TangoJsStateLedElement.prototype,
    property: 'showLed',
    type: 'boolean',
    onChange: TangoJsStateLedElement.prototype.toggleLed })

  WebComponentElement.wireAttribute({
    prototype: TangoJsStateLedElement.prototype,
    property: 'pollPeriod',
    type: 'number' })

  WebComponentElement.wireAttribute({
    prototype: TangoJsStateLedElement.prototype,
    property: 'showName',
    type: 'boolean' })

  window.tangojsWebComponents = window.tangojsWebComponents || {}

  WebComponentElement.registerComponent(window,
                                        window.tangojsWebComponents,
                                        TangoJsStateLedElement,
                                        'tangojs-state-led')

})()

</script>
