<!DOCTYPE html>

<script type="text/javascript" src="../web-component-element.js"></script>
<link rel="import" href="tangojs-label.html">

<script type="text/javascript">
(function (window) {
  'use strict'

  const WebComponentElement = window.WebComponentElement
  const document = window.document
  const tangojs = window.tangojs

  const template = WebComponentElement
    .getCurrentDocument(window)
    .querySelector('template')

  const TangoJsLabelElement = window.tangojsWebComponents.TangoJsLabelElement

  class TangoJsLineEditElement extends TangoJsLabelElement {

    createdCallback () {

      super.createdCallback()

      const input = window.document.createElement('input')
      input.setAttribute('id', 'input')
      input.oninput = (event) => this.onInput(event)

      this.dom.wrapper.insertBefore(input, this.dom.value.nextSibling)
    }

    onInput (event) {
      const deviceAttribute = new tangojs.struct.DeviceAttribute({
        value: event.target.value
      })
      this.proxy[0]
        .write(deviceAttribute)
        .catch(e => console.error(e))
    }
  }

  window.tangojsWebComponents = window.tangojsWebComponents || {}

  WebComponentElement.registerComponent(window,
                                        window.tangojsWebComponents,
                                        TangoJsLineEditElement,
                                        'tangojs-line-edit')
})(window)

</script>
