<!DOCTYPE html>

<script type="text/javascript" src="../web-component-element.js"></script>
<link rel="import" href="tangojs-label.html">

<script type="text/javascript">
(function() {
  'use strict'

  const template = WebComponentElement
    .getCurrentDocument(window)
    .querySelector('template')

  const TangoJsLabelElement = window.tangojsWebComponents.TangoJsLabelElement

  class TangoJsLineEditElement extends TangoJsLabelElement {

    get model () {
      return super.model
    }

    set model (value) {
      super.model = value
    }

    createdCallback () {

      super.createdCallback()

      const wrapper = this._root.getElementById('wrapper')
      const value = this._root.getElementById('value')

      const input = window.document.createElement('input');
      input.setAttribute('id', 'input')

      wrapper.insertBefore(input, value.nextSibling);

      input.oninput = (event) => this.onInput(event)
    }

    onInput (event) {
      const deviceAttribute = new tangojs.struct.DeviceAttribute({
        value: event.target.value
      })
      this._proxy.write(deviceAttribute).catch(e => console.error(x))
    }
  }

  WebComponentElement.defineProperties(
    TangoJsLineEditElement.prototype,
    ['pollPeriod', 'showName', 'showUnit'])

  WebComponentElement.bindAttributes(
    TangoJsLineEditElement.prototype,
    {
      'model': 'string',
      'pollPeriod': 'number',
      'showName': 'boolean',
      'showUnit': 'boolean'
    })

  WebComponentElement.registerComponent(window,
                                        TangoJsLineEditElement,
                                        'tangojs-line-edit',
                                        'TangoJsLineEditElement')
})()

</script>
