<!DOCTYPE html>

<script type="text/javascript" src="../web-component-element.js"></script>

<template>
  <button>
    <content></content>
  </button>
</template>

<script type="text/javascript">
(function (window) {
  'use strict'

  const WebComponentElement = window.WebComponentElement
  const document = window.document
  const tangojs = window.tangojs

  const template = WebComponentElement
    .getCurrentDocument(window)
    .querySelector('template')

  class TangoJsCommandButtonElement extends window.HTMLElement {

    createdCallback () {

      const clone = document.importNode(template.content, true)
      this._root = this.createShadowRoot()
      this._root.appendChild(clone)

      const button = this._root.querySelector('button')
      button.onclick = (event) => this.onClick(event)
    }

    onModelChange (value) {
      const [_, devname, cmdname] = value.match(/^(.+)\/([A-Za-z0-9_]+)$/)
      this._proxy = new tangojs.proxy.CommandProxy(devname, cmdname)
    }

    onClick (event) {
      const devDataIn = new tangojs.struct.DeviceData(this.parameters)
      this._proxy.inout(devDataIn)
        .then(devDataOut => devDataOut.value)
        .then(value => {
          if (this.onresult && this.onresult.call) {
            this.onresult.call(this, value)
          }
        })
    }
  }

  WebComponentElement.wireAttribute({
    prototype: TangoJsCommandButtonElement.prototype,
    property: 'model',
    type: 'string',
    onChange: TangoJsCommandButtonElement.prototype.onModelChange })

  WebComponentElement.wireAttribute({
    prototype: TangoJsCommandButtonElement.prototype,
    property: 'parameters',
    type: 'object' })

  WebComponentElement.wireAttribute({
    prototype: TangoJsCommandButtonElement.prototype,
    property: 'onresult',
    type: ['function', 'event'] })

  window.tangojsWebComponents = window.tangojsWebComponents || {}

  WebComponentElement.registerComponent(window,
                                        window.tangojsWebComponents,
                                        TangoJsCommandButtonElement,
                                        'tangojs-command-button')

})(window)

</script>
