<!DOCTYPE html>

<script type="text/javascript" src="../web-component-element.js"></script>
<script type="text/javascript" src="../tangojs-element.js"></script>

<template>
  <div id="plot-container" style="width: 680px; height: 600px; display: inline-block;">
    <canvas id="plot-canvas" style="width:100%;height:100%"></canvas>
  </div>
</template>

<script type="text/javascript">
(function (window) {
  'use strict'

  const WebComponentElement = window.WebComponentElement
  const TangoJsElement = window.TangoJsElement
  const document = window.document

  const template = WebComponentElement
    .getCurrentDocument(window)
    .querySelector('template')

  class SeededPrng {
    constructor (seed) {
      this._seed = seed
    }
    nextDouble () {
      const x = Math.sin(this._seed++) * 10000
      return x - Math.floor(x)
    }
  }

  const prng = new SeededPrng(10)
  const randcf = () => Math.round(prng.nextDouble() * 255)
  const randomColor = () => `rgb(${randcf()},${randcf()},${randcf()})`

  const plotOptions = {
    responsive: true,
    animation: {
      duration: 0 // the plot is unreadable with animation
      // easing: 'easeOutBack'
    },
    scales: {
      xAxes: [{
        type: 'time',
        display: true,
        time: {
          // format: (date) => moment(new Date(date))
          unit: 'second'
        },
        scaleLabel: {
          display: true,
          labelString: 'time'
        },
        gridLines: {
          display: false
        }
      }],
      yAxes: [{
        display: true,
        scaleLabel: {
          display: true,
          labelString: 'value'
        }
      }]
    }
  }

  class TangoJsTrendElement extends window.HTMLElement {

    createdCallback () {

      const clone = document.importNode(template.content, true)
      this._root = this.createShadowRoot()
      this._root.appendChild(clone)

      const ctx = this._root.getElementById('plot-canvas').getContext('2d')

      this._plotData = {
        labels: [new Date()],
        datasets: []
      }

      this._plot = new Chart(ctx, {
        type: 'line',
        data: this._plotData,
        options: plotOptions
      })
    }

    afterModelChange(modelArray) {
      this._plotData.datasets = modelArray.map(model => {
        return {
          label: model,
          data: [],
          fill: false,
          borderColor: randomColor()
        }
      })
    }

    onAttributesRead(deviceAttributes) {

      const readDate = (new Date()).getTime()

      this._plotData.labels = [readDate]
      deviceAttributes.forEach((devAttr, i) => {
        this._plotData.datasets[i].data.push({
          x: readDate,
          y: devAttr.value
        })
        while (this._plotData.datasets[i].data.length > this.dataLimit) {
          this._plotData.datasets[i].data.shift()
        }
      })
      this._plot.update()
    }
  }

  TangoJsElement.withPolledModel.call(
    TangoJsTrendElement.prototype,
    tangojs.proxy.AttributeProxy,
    TangoJsTrendElement.prototype.onAttributesRead,
    () => {},
    TangoJsTrendElement.prototype.afterModelChange)

  WebComponentElement.wireAttribute({
    prototype: TangoJsTrendElement.prototype,
    property: 'model',
    type: 'array',
    onChange: TangoJsTrendElement.prototype.onModelChange })

  WebComponentElement.wireAttribute({
    prototype: TangoJsTrendElement.prototype,
    property: 'dataLimit',
    type: 'number'})

  WebComponentElement.wireAttribute({
    prototype: TangoJsTrendElement.prototype,
    property: 'pollPeriod',
    type: 'number' })

  window.tangojsWebComponents = window.tangojsWebComponents || {}

  WebComponentElement.registerComponent(window,
                                        window.tangojsWebComponents,
                                        TangoJsTrendElement,
                                        'tangojs-trend')

})(window)

</script>
