<!DOCTYPE html>

<script type="text/javascript" src="../web-component-element.js"></script>
<script type="text/javascript" src="../tangojs-element.js"></script>
<link rel="import" href="html-led-element.html">

<template>
  <span id="wrapper">
    <span id="name"></span>
    <span id="value"></span>
    <span id="unit"></span>
  </span>
</template>

<script type="text/javascript">
(function (window) {
  'use strict'

  const WebComponentElement = window.WebComponentElement
  const document = window.document
  const tangojs = window.tangojs

  const template = WebComponentElement
    .getCurrentDocument(window)
    .querySelector('template')

  class TangoJsLabelElement extends window.HTMLElement {

    createdCallback () {

      const clone = document.importNode(template.content, true)
      this.root = this.createShadowRoot()
      this.root.appendChild(clone)

      this.led = document.createElement('x-led')
      this.led.setAttribute('on', '')

      this.dom = {
        wrapper: this.root.getElementById('wrapper'),
        name: this.root.getElementById('name'),
        unit: this.root.getElementById('unit'),
        value: this.root.getElementById('value')
      }
    }

    /** @private */
    updateNameAndUnit () {
      this.proxy[0].get_info().then(attrInfo => {
        this.dom.name.textContent = this.showName ? attrInfo.name : ''
        this.dom.unit.textContent = this.showUnit ? attrInfo.display_unit : ''
      })
    }

    onAttributesRead (deviceAttributes) {
      const attribute = deviceAttributes[0]
      const quality = attribute.quality
      this.led.color = this.getQualityLedColor(quality)
      this.dom.value.textContent = attribute.value
    }

    onAttributesError (error) {
      console.error(error)
      const quality = tangojs.tango.AttrQuality.ATTR_INVALID
      this.led.color = this.getQualityLedColor(quality)
      this.dom.value.textContent = '-error-'
    }

    /** @private */
    getQualityLedColor (quality) {
      switch (quality) {
        case tangojs.tango.AttrQuality.ATTR_VALID: return '#80FF00'
        case tangojs.tango.AttrQuality.ATTR_INVALID: return '#880088'
        case tangojs.tango.AttrQuality.ATTR_ALARM: return '#FF0000'
        case tangojs.tango.AttrQuality.ATTR_CHANGING: return '#0080FF'
        case tangojs.tango.AttrQuality.ATTR_WARNING: return '#FFFF00'
      }
    }

    /** @private */
    onShowQualityChange (showQuality) {
      const ledNode = this.root.querySelector('x-led')
      if (showQuality && ! ledNode) {
        this.dom.wrapper.appendChild(this.led)
      } else if (! showQuality && ledNode) {
        this.dom.wrapper.removeChild(this.led)
      }
    }

  }

  TangoJsElement.withPolledModel.call(
    TangoJsLabelElement.prototype,
    tangojs.proxy.AttributeProxy,
    TangoJsLabelElement.prototype.onAttributesRead,
    TangoJsLabelElement.prototype.onAttributesError,
    TangoJsLabelElement.prototype.updateNameAndUnit)

  WebComponentElement.wireAttribute({
    prototype: TangoJsLabelElement.prototype,
    property: 'model',
    type: 'string',
    onChange: TangoJsLabelElement.prototype.onModelChange })

  WebComponentElement.wireAttribute({
    prototype: TangoJsLabelElement.prototype,
    property: 'showQuality',
    type: 'boolean',
    onChange: TangoJsLabelElement.prototype.onShowQualityChange })

  WebComponentElement.wireAttribute({
    prototype: TangoJsLabelElement.prototype,
    property: 'pollPeriod',
    type: 'number' })

  WebComponentElement.wireAttribute({
    prototype: TangoJsLabelElement.prototype,
    property: 'showName',
    type: 'boolean' })

  WebComponentElement.wireAttribute({
    prototype: TangoJsLabelElement.prototype,
    property: 'showUnit',
    type: 'boolean' })

  window.tangojsWebComponents = window.tangojsWebComponents || {}

  WebComponentElement.registerComponent(window,
                                        window.tangojsWebComponents,
                                        TangoJsLabelElement,
                                        'tangojs-label')

})(window)

</script>
